.root {
    --menu-item-padding: 0.75rem;

    width: var(--side-menu-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--primary));
}

.link {
    display: flex;
    gap: 0.5rem;
    padding: var(--menu-item-padding);
}

.link:hover {
    background-color: var(--primary-300);
}
