.root {
    --menu-item-padding: 0.75rem;

    width: var(--side-menu-width);
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: var(--primary-300);
}

.link {
    display: flex;
    gap: 0.5rem;
    align-items: left;
}

.link:hover {
    background-color: var(--primary-500);
}
