:root {
    /* Primary colors */
    --primary-900: #020213;
    --primary-800: #030f25;
    --primary-700: #041a40;
    --primary-600: #09265d;
    --primary-500: #1a4faf;
    --primary-400: #5683d9;
    --primary-300: #97b5ea;
    --primary-200: #b2c7ee;
    --primary-100: #eef2fa;

    /* Black colors */
    --black-900: #000;
    --black-800: #040303;
    --black-700: #1f1e1e;
    --black-600: #0d1117;
    --black-500: #2b2b2b;
    --black-400: #6a6a6a;
    --black-300: #9c9b9b;
    --black-200: #cdcdcd;
    --black-100: #e6e6e6;

    /* Danger colors */
    --danger-800: #731206;
    --danger-700: #b4200e;
    --danger-600: #d02b20;
    --danger-500: #ee5e52;
    --danger-300: #f5c0b8;
    --danger-200: #fcdad7;
    --danger-100: #fcecea;

    /* Warning colors */
    --warning-800: #2a1e01;
    --warning-700: #655506;
    --warning-600: #bd9d1a;
    --warning-500: #f3d970;
    --warning-300: #fae7b9;
    --warning-200: #fff5da;
    --warning-100: #fff6ee;

    /* Success colors */
    --success-800: #092c13;
    --success-700: #154f27;
    --success-600: #267e41;
    --success-500: #5cb176;
    --success-300: #c6f0c2;
    --success-200: #d5f5d5;
    --success-100: #eafbe7;

    /* Font weights */
    --weight-thin: 100;
    --weight-light: 200;
    --weight-regular: 400;
    --weight-bold: 600;

    /* Transition */
    --color-transition-specs: 0.2s ease-in-out;

    /* Z-index */
    --z-index-below-content: -1;
    --z-index-content: 0;
    --z-index-above-content: 1;
    --z-index-header: 2;
    --z-index-banner: 3;
    --z-index-backdrop-content: 4;

    /* ANIMATIONS */
    --loading-animation: rotation 2s infinite linear;
}
